<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h3>Realizar pergunta</h3>
        </div>
        <div class="card-body">
          <form action="">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" class="form-control" />
            <br />
            <label for="description">Descreva sua pergunta</label>
            <textarea
              name="description"
              id="description"
              class="form-control"
            ></textarea>
            <br />
            <button class="btn btn-success">Enviar pergunta</button>
          </form>
        </div>
      </div>
    </main>

    <%- include('partials/scripts') %>
  </body>
</html>
